{% extends 'adminuser/base.html' %}
{% load static %}
{% block content %}
<div class="col-md-6 col-xl-4">
    <div class="card bg-c-blue order-card">
        <div class="card-block">
            <h6 class="m-b-20">User</h6>
            <a href="{% url 'manage_users' %}"><h2 class="text-right"><i class="ti-file f-left"></i><span>{{ user_count }}</span></h2></a>
            
        </div>
    </div>
</div>
<div class="col-md-6 col-xl-4">
    <div class="card bg-c-blue order-card">
        <div class="card-block">
            <h6 class="m-b-20">Total Packages</h6>
            <a href="{% url 'manage_package' %}"><h2 class="text-right"><i class="ti-file f-left"></i><span>{{ package_count }}</span></h2></a>
            
        </div>
    </div>
</div>
<div class="col-md-6 col-xl-4">
    <div class="card bg-c-green order-card">
        <div class="card-block">
            <h6 class="m-b-20">Total Guides Created</h6>
            <a href="{% url 'manage_guide' %}"><h2 class="text-right"><i class="ti-file f-left"></i><span>{{ guide_count }}</span></h2></a>
           
        </div>
    </div>
</div>
<div class="col-md-6 col-xl-4">
    <div class="card bg-c-blue order-card">
        <div class="card-block">
            <h6 class="m-b-20">Bookings</h6>
            <a href="{% url 'manage_bookings' %}"><h2 class="text-right"><i class="ti-file f-left"></i><span>{{ booking_count }}</span></h2></a>
            
        </div>
    </div>
</div>
<div class="col-md-6 col-xl-4">
    <div class="card bg-c-green order-card">
        <div class="card-block">
            <h6 class="m-b-20">New Bookings</h6>
            <a href=""><h2 class="text-right"><i class="ti-file f-left"></i><span>{{ new_booking_count }}</span></h2></a>
           
        </div>
    </div>
</div>
<div class="col-md-6 col-xl-4">
    <div class="card bg-c-green order-card">
        <div class="card-block">
            <h6 class="m-b-20">Cancelled Bookings</h6>
            <a href=""><h2 class="text-right"><i class="ti-file f-left"></i><span>{{ cancelled_booking_count }}</span></h2></a>
           
        </div>
    </div>
</div>
<div class="col-md-6 col-xl-4">
    <div class="card bg-c-green order-card">
        <div class="card-block">
            <h6 class="m-b-20">Confirmed Bookings</h6>
            <a href=""><h2 class="text-right"><i class="ti-file f-left"></i><span>{{ confirmed_booking_count }}</span></h2></a>
           
        </div>
    </div>
</div>

{% endblock %}