{% extends 'adminuser/base.html' %}
{% block content %}
<div class="col-sm-12">
    <div class="card">
        <div class="card-header">
            <h5>Manage Guides</h5>
           
            <div class="card-header-right">
                <ul class="list-unstyled card-option">
                    <li><i class="fa fa-chevron-left"></i></li>
                    <li><i class="fa fa-window-maximize full-card"></i></li>
                    <li><i class="fa fa-minus minimize-card"></i></li>
                    <li><i class="fa fa-refresh reload-card"></i></li>
                    <li><i class="fa fa-times close-card"></i></li>
                </ul>
            </div>

        </div>
        <div class="card-block table-border-style">
            <div class="table-responsive">
                {% include 'adminuser/messages.html' %}
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Full Name</th>
                            <th>Designation</th>
                            <th>Profile Pic</th>
                            <th>Facebook Link</th>
                            <th>Twitter Link</th>
                            <th>Instagram Link</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for guide in guides %}
                        <tr>
                            <th scope="row">{{ guide.id }}</th>
                            <td>{{ guide.full_name }}</td>
                            <td>{{ guide.designation }}</td>
                            <td><img src="{{ guide.image.url }}" alt="{{ guide.full_name }}" style="max-width: 100px; max-height: 100px;"></td>
                            <td>{{ guide.facebook_link }}</td>
                            <td>{{ guide.twitter_link }}</td>
                            <td>{{ guide.instagram_link }}</td>
                            <td><a href="{% url 'update_guide' guide.id %}" class="btn btn-success">Update</a>&nbsp;<a href="{% url 'delete_guide' guide.id %}" class="btn btn-danger">Delete</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                
            </div>
        </div>
    </div>
</div>
{% endblock %}
