{% load static %}
{% extends 'base.html' %}
{% block title %}
    <title>TMS | Tourism Management System</title>
{% endblock %}
{% block style %}
{% endblock %}
{% block script %}
<script type="text/javascript">
        function valid() {
            if(document.chngpwd.newpassword.value != document.chngpwd.confirmpassword.value) {
                alert("New Password and Confirm Password Field do not match  !!");
                document.chngpwd.confirmpassword.focus();
                return false;
            }
            return true;
        }
    </script>
{% endblock %}
{% block content %}
    {% include 'header.html' %}
    <div class="banner-1 ">
        <div class="container">
            <h1 class="wow zoomIn animated animated" data-wow-delay=".5s">TMS-Tourism Management System</h1>
        </div>
    </div>
    <div class="privacy">
        <div class="container">
            <h3 class="wow fadeInDown animated animated" data-wow-delay=".5s">Change Password</h3>
            <form name="chngpwd" method="post" onSubmit="return valid();">
                {% if error %}
                    <div class="errorWrap"><strong>ERROR</strong>: {{ error }} </div>
                {% elif msg %}
                    <div class="succWrap"><strong>SUCCESS</strong>: {{ msg }} </div>
                {% endif %}
                <p style="width: 350px;">
                    <b>Current Password</b>
                    <input type="password" name="password" class="form-control" placeholder="Current Password" required="">
                </p>
                <p style="width: 350px;">
                    <b>New  Password</b>
                    <input type="password" class="form-control" name="newpassword" placeholder="New Password" required="">
                </p>
                <p style="width: 350px;">
                    <b>Confirm Password</b>
                    <input type="password" class="form-control" name="confirmpassword" placeholder="Confirm Password" required="">
                </p>
                <p style="width: 350px;">
                    <button type="submit" name="submit5" class="btn-primary btn">Change</button>
                </p>
            </form>
        </div>
    </div>
{% endblock %}
