{% extends 'base.html' %}
{% load static %}
{% block title %}
    <title>My Profile</title>
{% endblock %}

{% block content %}
    <div class="container">
        <h3>My Profile</h3>
        <form method="post">
            {% csrf_token %}
            {% if msg %}
            <div class="succWrap">{{ msg }}</div>
            {% endif %}
            <p><b>Username:</b> {{ user.username }}</p>
            <p><b>First Name:</b> {{ user.first_name }}</p>
            <p><b>Last Name:</b> {{ user.last_name }}</p>
            <p><b>Email:</b> {{ user.email }}</p>
        </form>
    </div>
{% endblock %}